<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hophin.shfy.androidmooc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shfy_mooc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListArrayActivity"
            android:label="@string/title_activity_list_array"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".DateAndTimePickerActivity"
            android:label="@string/title_activity_date_and_time_picker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".ProgressBarActivity"
            android:label="@string/title_activity_probress_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".UseFragmentActivity"
            android:label="@string/title_activity_use_fragment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".StaticFragmentActivity"
            android:label="@string/title_activity_static_fragment"
            android:parentActivityName=".UseFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".ViewPager2Activity"
            android:label="@string/title_activity_view_pager2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".ViewFlipperActivity"
            android:label="@string/title_activity_view_flipper"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/title_activity_seek_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".ToastActivity"
            android:label="@string/title_activity_toast"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.hophin.shfy.androidmooc.MainActivity" />
        </activity>
    </application>

</manifest>
